DIV.spacer {
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: none;
	font-size: 1px;
	height: 1px;
	clear: both;
}



DIV.identification H1{
	padding: 54px 0px 0px 30px;
	display: none;
}

DIV.identification H2{
	display:none;
}


DIV.search DIV.informationTypes A.selected, DIV.search DIV.searchForm {
}

DIV.results DIV.resultServices DIV H4,
DIV.resultSet DIV.infoBar {
}

DIV.results DIV.resultServices DIV {
}

.bookDetail:hover {
	background: #EEE;
}


#fulltext strong {
	background: none !important;
}

#fulltext.closed strong {
	background: none !important;
}
